*

!.gitignore
!alacritty/
!alacritty/**
!dunst/
!dunst/**
!hypr/
!hypr/**
!i3/
!i3/**
!mc/
!mc/**
!micro/
!micro/**
!nvim/
!nvim/**
!swaylock/
!swaylock/**
!tmux/
!tmux/**
!tmux-powerline/
!tmux-powerline/**
!tofi/
!tofi/**
!waybar/
!waybar/**
!wlogout/
!wlogout/**
!starship.toml

